/*
 * Base styles that I'm changing for the web site.  This should only contain styles of default elements of the web
 * such as h1, body, etc...
 */

/**
 * Coloring h1 a bit off black, removing bold, and shadowing
 * a touch.
 */
h1, h2 {
  color: #505050;
  text-shadow: 2px 1px 3px rgba(200, 200, 200, 0.43);
  font-weight: normal;
}

/**
 * Using some off white for the background color and
 * padding the top.
 */
body {
  background: whitesmoke;
  padding-top: 60px;
}

@media (max-width: 767px) {
  body {
    padding-top: 10px;
  }
}

/**
 * Make links smaller,
 */
a {
  text-shadow: 2px 1px 3px rgba(200, 200, 200, 0.43);
  padding-bottom: 5px;
  padding-top: 10px;
  font-size: 80%;
  color: #6464ff;
  text-decoration: none;
}

pre {
  margin-top: 0px;
  margin-bottom: 0px;
}

.pure-button.button-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e
}

/**
 * Upper box that contains the title Authorization Server, the UserName, and Password fields
 */
.upper-box {


  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;

  border-color: lightgrey;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  padding: 5px 20px 35px;

  box-shadow: 1px 1px 2px #e7e7e7;

  margin-left: auto;
  margin-right: auto;

  /**
   * Gradient calculated from gradient calculator of
   * http://gradients.glrzad.com/
   */
  background-image: linear-gradient(bottom, rgb(249, 250, 252) 21%, rgb(245, 247, 250) 67%, rgb(247, 249, 255) 94%);
  background-image: -o-linear-gradient(bottom, rgb(249, 250, 252) 21%, rgb(245, 247, 250) 67%, rgb(247, 249, 255) 94%);
  background-image: -moz-linear-gradient(bottom, rgb(249, 250, 252) 21%, rgb(245, 247, 250) 67%, rgb(247, 249, 255) 94%);
  background-image: -webkit-linear-gradient(bottom, rgb(249, 250, 252) 21%, rgb(245, 247, 250) 67%, rgb(247, 249, 255) 94%);
  background-image: -ms-linear-gradient(bottom, rgb(249, 250, 252) 21%, rgb(245, 247, 250) 67%, rgb(247, 249, 255) 94%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.21, rgb(249, 250, 252)),
    color-stop(0.67, rgb(245, 247, 250)),
    color-stop(0.94, rgb(247, 249, 255))
  );

}

/**
 * Bottom box that contains the "Sign in" button
 */
.bottom-box {
  border: 1px solid;
  border-color: lightgrey;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  padding: 15px 20px;
  box-shadow: 1px 1px 2px #e7e7e7;
  margin-left: auto;
  margin-right: auto;

  /**
   * Gradient calculated from gradient calculator of
   * http://gradients.glrzad.com/
   */
  background-image: linear-gradient(bottom, rgb(242, 245, 250) 21%, rgb(242, 245, 250) 67%, rgb(242, 245, 255) 94%);
  background-image: -o-linear-gradient(bottom, rgb(242, 245, 250) 21%, rgb(242, 245, 250) 67%, rgb(242, 245, 255) 94%);
  background-image: -moz-linear-gradient(bottom, rgb(242, 245, 250) 21%, rgb(242, 245, 250) 67%, rgb(242, 245, 255) 94%);
  background-image: -webkit-linear-gradient(bottom, rgb(242, 245, 250) 21%, rgb(242, 245, 250) 67%, rgb(242, 245, 255) 94%);
  background-image: -ms-linear-gradient(bottom, rgb(242, 245, 250) 21%, rgb(242, 245, 250) 67%, rgb(242, 245, 255) 94%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.21, rgb(242, 245, 250)),
    color-stop(0.67, rgb(242, 245, 250)),
    color-stop(0.94, rgb(242, 245, 255))
  );
}

.upper-box, .bottom-box {
  max-width: 310px;
}


.error {
  color: red;
}

.upper-box .error > * {
  display: inline;
  margin-right: 5px;
}
