.title {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}


/**
 * Okay, you caught me.  It's a hack to make this look centered.
 *
 * TODO Fix this, can't figure out how to get this to center correctly.
 * It's currently anchored to the fieldset and that's causing issues.
 */
.main-text {
  /*padding-left: 100px;*/
  padding-top: 20px;
  font-size: 180%;
  color: #505050;
  text-shadow: 2px 1px 3px rgba(200, 200, 200, 0.43);
  font-weight: normal;
}

/**
 * Okay, you caught me.  It's a hack to make this look centered.
 *
 * TODO Fix this, can't figure out how to get this to center correctly.
 * It's currently anchored to the fieldset and that's causing issues.
 */
.subtext {
  /*padding-left: 80px;*/
  font-size: 110%;
  color: #969696;
  text-shadow: 2px 1px 3px rgba(230, 230, 230, 0.42);
  font-weight: normal;
}

/**
 * The username and password labels
 */
.labels {
  color: #505050;
  text-shadow: 2px 1px 3px rgba(200, 200, 200, 0.43);
  padding-top: 10px;
}

/**
 * Input fields so I can make it slightly larger than the default,
 * and I can also pad anything trying to touch it on the right.
 */
.input-fields {
  padding-right: 20px;
  font-size: 130%;
}

/**
 * This makes all the placeholder text italic.  Nice trick I
 * picked up from stack overflow:
 * http://stackoverflow.com/questions/16291925/how-to-make-value-text-in-form-be-italic
 */
::-webkit-input-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

/**
 * Very specific to the sign on button.
 */
.accept-cancel-buttons {
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;
}

.from-text {
  padding-top: 10px;
  text-align: center;
}
