doctype html
html
    head
        title OAuth2Orize Recipes Login
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', type='text/css', href='stylesheets/pure-min.css')
        link(rel='stylesheet', type='text/css', href='stylesheets/base.css')
        link(rel='stylesheet', type='text/css', href='stylesheets/sign-in-modules.css')
    body
        form.pure-form.pure-form-stacked(action='/confirmSms', method='post')
            fieldset
                .upper-box
                    div
                        h1.title-padding Authorization Server
                    .pure-control-group
                        label.labels(for='mobileNumber') Mobile Number:
                        .input-fields
                            input#mobileNumber.pure-input-1.input-fields(type='text', value='<%- mobileNumber%>', placeholder='Mobile Number', disabled='')
                    .pure-control-group
                        label.labels(for='code') Code:
                        .input-fields
                            input#code.pure-input-1.input-fields(type='number', placeholder='Code', name='code')
                            input#mobileNumberId(type='hidden', name='mobileNumberId', value=mobileNumberId)
                            input#loginId(type='hidden', name='loginId', value=loginId)
                .bottom-box
                    .pure-controls.sign-in-button
                        button.pure-button.pure-button-primary(type='submit', value='Submit') Sign in
