extends ./layout.pug

block title
  title #{__('SMS OAUTH')}
  link(rel='stylesheet', type='text/css', href='../stylesheets/index-modules.css')
block scripts
  script(type='text/javascript').
    function onLoginClick () {
      location.replace('/login');
    }



block body
  #main
    h1 #{__('OAuth2 SMS Authorization Server')}

    button#accessTokenCallApiButton.pure-button.pure-button-primary(type='button' onclick='onLoginClick()') #{__('Login')}
