doctype html
html
  head
    block title
      title #{__('SMS oauth')}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/base.css')
    script(type='text/javascript' src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(type='text/javascript' src='scripts/mask-plugin.js')
    script(type='text/javascript' src='scripts/masks.js')
    script(type='text/javascript').
      $("#mobileNumber").ready(function(){
          $("#mobileNumber")
            .mask('#{__('Phone Mask')}');
      })
    block scripts

  body
    block body
