extends ./layout.pug

block title
  title Account Register

block scripts
  link(rel='stylesheet', type='text/css', href='stylesheets/sign-in-modules.css')

block body
  form.pure-form.pure-form-stacked(action='/registerProcessForm', method='post')
    fieldset
      .upper-box
        div
          h1.title-padding Register an account
          if error
            .subtext #{error}
        .pure-control-group
          label.labels(for='name') Name:
          .input-fields
            input#name.pure-input-1.input-fields(type='text', placeholder='Name', name='name')
        .pure-control-group
          label.labels(for='mobileNumber') Mobile Number:
          .input-fields
            input#mobileNumber.pure-input-1.input-fields(type='text', placeholder='Mobile Number', name='mobileNumber', value=mobileNumber)
      .bottom-box
        .pure-controls.sign-in-button
          button.pure-button.pure-button-primary(type='submit', value='Submit') Register
